*~

# sbt-specific
target/

# eclipse
.classpath
.worksheet/
.settings/
.project
target.eclipse/
.cache-main
.cache-tests
*.sc

# intellij idea
.idea/

# ensime
.ensime
.ensime_cache/

# VSCode
.metals/
.bloop/
.vscode/
.bsp/
metals.sbt
